h1 {
  font-size: 3.2rem;
}

ul {
  list-style-type: none;

  li {
    display: block;

    a:link,
    a:visited {
      text-decoration: none;
      color: #333;
      transition: all 0.2s;
      border-bottom: 1px solid transparent;
    }

    a:hover,
    a:active {
      color: red;
      border-bottom: 1px solid red;
    }
  }
}
